<h3>Hello All,</h3>

<p>Please add your updates in the <strong>Induction 2.0</strong> tool by EOD today.</p>
<p>Visit <a href="<%= @url %>"><strong>ODC Induction 2.0</strong></a></p>

<p>Thanks,</p>
<p>ODC Induction</p>

<pre>
+========================================================================+
    This is an auto generated email. Please donot reply to this email.
+========================================================================+	
</pre>