<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     Hey <%= @user.name %>
    <h1>Welcome to ODCInduction</h1>
    <p>
      To login to the site and change your password, just follow this link <a href="<%= @login_url %>"><strong>ODC Induction</strong></a><br/>
    </p>
    <p>
      Also visit <a href="<%= @navigator_url %>"><strong>ODC Navigator</strong></a> to know more about the ODC.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>