<html>
<p> Hey <strong><%= @mentor.name %></strong></p>
<p>Your mentee <strong><%= @mentee.name %></strong> has following update : </p>
<p><%= @update.content %></p>
<p>Login <a href="http://<%= @url %>">here.</a> </p>
</html>