@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  //background-color:#ccc;
  margin-bottom: 50px;
}

table{
  border-bottom:1px solid #ccc;
}

.container{
  width:1024px;
}

header .container{
  background-color:#5a5a5a;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color:#2980b9;
  color:white;
}

header .dropdown-menu li{
  clear:both;
}

header .dropdown-menu li input[type="submit"]{
  padding: 3px 20px;
  background: transparent;
  border: none;
}

header .dropdown-menu li input[type="submit"]:hover{
  background-color:black;
  color:white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3 {
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  padding-top: 9px;
  line-height: 1;
  margin-top:10px;
  font-weight:bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* navigation bar */

.navbar-inverse{
    background-color:#5a5a5a;
    border:0px;
}
.nav li{
  float:left;
}

ul.nav.pull-right{
  margin-top:10px;
}
.nav li > a{
  color:#ccc;
}

.nav li > a:hover{
  color:white;
  background-color:black;
}

navbar-inverse {
  background-color:black;
}

ul.dropdown-menu li > a{
  color:#444;
}
/*table */

thead{
  background-color:#2980b9;
  color:white;
}

th,td{
  text-align:center;
}

/* footer */
.footer{
  position:fixed;
  bottom:0;
  background-color:white;
  width:940px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid grayLighter;
    &:last-child {
      border-bottom: 1px solid grayLighter;
    }
  }
}


.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 50px auto 20px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.form-user-edit{
  max-width: 700px;
  padding: 19px 29px 29px;
  margin: 50px auto 20px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  height: 520px;
}

.buttons{
  width:70px;
}
/**** Side bar ****/
#side-nav .navbar-inverse{
  background-color:white;
}

#side-nav .navbar-inverse .navbar-collapse{
  border:0px;
}

#side-nav .nav li {
  width:100%;
  text-align:left;
}

#side-nav .nav li a:hover{
  background-color:#eee;
}

#side-nav .navbar-inverse .nav > .active a {
color: #fff;
background-color: #999;
}

#side-nav .nav li a.active {
background-color: #999;
color: #fff;
}

#side-nav .navbar-inverse .nav a, .admin .navbar-inverse .nav a:hover {
color: #428bca;
text-decoration: none;
text-shadow:none;
}

 #side-nav {
padding-left: 0px;
padding-right: 0px;
border-right: 1px solid #ccc;
}

#side-nav .nav > li > a {
position: relative;
display: block;
padding: 10px 10px;
}

.col-lg-10{
  padding-bottom:20px;
}

/**** Admin Page ****/
.admin{
  padding-top:10px;
}

.admin h3{
  text-align:left;
}

.admin hr{
  color:#999;
  }
  /*import file */

.input-field {
  width: 50%;
  float: left;
  margin-right: 10px;
}

.submit-button {
  width: 14%;
}
.import-users h2{
  text-align:left;
  color:#999;
  margin-bottom:10px;
  margin-top:40px;
}
/*sign up form */

.sign_up_form {
  width: 300px;
  margin: 50px auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 0px 29px 29px;
}

.sign_up_button{
  width:50%;
  margin-left: 58px;
  margin-top: 10px;
}

#email-id{
  padding-left:10px;
}

#back{
  float:right;
}

.form-user-edit .left{
  float: left;
  width: 300px;
  vertical-align: top;
}

.form-user-edit .right{
  float: right;
  width: 300px;
  vertical-align: top;
}

.form-user-edit .form-edit-back{
  vertical-align: bottom;
  float: right;
  width: 100%;
}

.update-button{
  width: 100%;
  margin-top: 25px;
}

.form-user-edit .form-edit-back #back-link{
  float: right;
}

.alert {
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  background: aliceblue;
  width: 200px;
  margin-top: 5px;
}

.image-show{
  height: 200px;
  max-width: 200px;
}

.datepicker{
  z-index: 1150 !important;
}

#task{
  float:right;
}

.hidden{
  display: none;
}

.task-error{
  color: red;
}

.resultDiv{
  z-index: 2000;
  display: block;
  background-color: #fff;
  opacity: 1;
  min-height: 20px;
  min-width: 20px;
}

ul.title-list{
  list-style-type: none;
  color: #2980b9;
  float: left;
  font-size: 12pt;
  font-weight: bold;
  height: 100px;
  width: 58%;
  margin-left: -42px;
}

.highlight{
  /*font-size: 15pt;*/
  color: #2980b9;
}

li.title-li{
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
}
.inner-1-block {
  position: relative;
  margin-top: 10px;
}
.inner-1-block .update-area {
  width: 700px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.inner-1-block .btn {
  margin: 0px 10px;
  float: right;
}
.mentor #side-nav .nav,
.mentee #side-nav .nav {
  padding: 20px 0px
}